In [ ]:
# Dictionary

In [ ]:
# Sort Python Dictionaries by Key or Value

In [1]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
keys=list(myDict.keys())
keys.sort()
dt={i:myDict[i] for i in keys }
dt

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [13]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(dict(sorted(myDict.items(),key=lambda x:x[1])))

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

In [6]:
myDict.values()

dict_values([10, 9, 15, 2, 32])

In [ ]:
# Handling missing keys in Python dictionaries

In [14]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}

myDict.get('Madan',"Nor Found")

'Nor Found'

In [15]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}

myDict.get('ravi',"Nor Found")

10

In [ ]:
# Python dictionary with keys having multiple inputs

In [22]:
places = {("19.07'53.2", "72.54'51.0"):"Mumbai", \
          ("28.33'34.1", "77.06'16.6"):"Delhi"}
lat=[]
long=[]
plc=[]
for i in places:
    lat.append(i[0])
    long.append(i[1])
    plc.append(places[i[0],i[1]])
    
print(lat,"\n",long,"\n",plc,"\n")

["19.07'53.2", "28.33'34.1"]
 ["72.54'51.0", "77.06'16.6"]
 ['Mumbai', 'Delhi']

In [23]:
places.keys()

dict_keys([("19.07'53.2", "72.54'51.0"), ("28.33'34.1", "77.06'16.6")])

In [ ]:
# Get the size of dictionary

In [27]:
dic={'a': 100, 'b':200, 'c':300}
Total=0
for i in dic.values():
    Total+=i
print(Total)

600

In [26]:
dic.keys()

dict_keys(['a', 'b', 'c'])

In [29]:
import sys

import sys
  
# sample Dictionaries
dic1 = {"A": 1, "B": 2, "C": 3} 
dic2 = {"Geek1": "Raju", "Geek2": "Nikhil", "Geek3": "Deepanshu"}
dic3 = {1: "Lion", 2: "Tiger", 3: "Fox", 4: "Wolf"}

print(sys.getsizeof(dic1))
print(sys.getsizeof(dic2))
print(sys.getsizeof(dic3))

232
232
232

In [ ]:
# Ways to sort list of dictionaries by values in Python – Using itemgetter

In [31]:
from operator import itemgetter
 
# Initializing list of dictionaries
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

print(sorted(list1,key=itemgetter('age'),reverse=True))

[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

In [ ]:
# Ways to sort list of dictionaries by values in Python – Using lambda

In [52]:
# Initializing dictionary
dict1 = {"name": ["Nandini","Manjeet","Nikhil"], "age":[20,20,19]}

# Sort the dictionary by the values of its 'age' key in descending order
sorted_dict = {k: v for k, v in sorted(dict1.items(), key=lambda item: item[1], reverse=True)}

# Print the sorted dictionary
print(sorted_dict)

TypeError: '<' not supported between instances of 'str' and 'int'

In [41]:
list1.items()

dict_items([('name', ['Nandini', 'Manjeet', 'Nikhil']), ('age', [20, 20, 19])])

In [47]:
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]
 
# using sorted and lambda to print list sorted
# by age
print("The list printed sorting by age: ")
print(sorted(list, key=lambda i: i['age']))

The list printed sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

In [48]:
import pandas as pd

In [53]:
d=pd.DataFrame(dict1)
d

      name  age
0  Nandini   20
1  Manjeet   20
2   Nikhil   19

In [ ]:
# Merge two dictionaries

In [58]:
def merge(dict1,dict2):
    return (dict2.update(dict1))


dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

print(merge(dict1,dict2))

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [69]:
jack = { "name":"Jack Frost", 
        "assignment" : [80, 50, 40, 20], 
        "test" : [75, 75], 
        "lab" : [78.20, 77.20] 
    } 
          
# 2. James's dictionary 
james = { "name":"James Potter", 
        "assignment" : [82, 56, 44, 30], 
        "test" : [80, 80], 
        "lab" : [67.90, 78.72] 
        } 
  
# 3. Dylan's dictionary 
dylan = { "name" : "Dylan Rhodes", 
        "assignment" : [77, 82, 23, 39], 
        "test" : [78, 77], 
        "lab" : [80, 80] 
        } 
          
# 4. Jessica's dictionary 
jess = { "name" : "Jessica Stone", 
        "assignment" : [67, 55, 77, 21], 
        "test" : [40, 50], 
        "lab" : [69, 44.56] 
    } 
          
# 5. Tom's dictionary 
tom = { "name" : "Tom Hanks", 
        "assignment" : [29, 89, 60, 56], 
        "test" : [65, 56], 
        "lab" : [50, 40.6] 
    }

students=[jack,james,dylan,jess,tom]

In [72]:
def calculate_total_average(students):
    assignment_total = 0
    test_total = 0
    lab_total = 0
    num_students = len(students)

    for student in students:
        assignment_total += sum(student["assignment"])
        test_total += sum(student["test"])
        lab_total += sum(student["lab"])

    assignment_avg = assignment_total / (num_students * 4)
    test_avg = test_total / (num_students * 2)
    lab_avg = lab_total / (num_students * 2)

    return (0.1 * assignment_avg +
            0.7 * test_avg +
            0.2 * lab_avg)

In [73]:
calculate_total_average(students)

66.02859999999998

In [90]:
def assign_letter_grade(score): 
    if score >= 90: return "A"
    elif score >= 80: return "B"
    elif score >= 70: return "C"
    elif score >= 60: return "D"
    else : return "E"

students = [{'name': 'Jack Frost',
  'assignment': [80, 50, 40, 20],
  'test': [75, 75],
  'lab': [78.2, 77.2]},
 {'name': 'James Potter',
  'assignment': [82, 56, 44, 30],
  'test': [80, 80],
  'lab': [67.9, 78.72]},
 {'name': 'Dylan Rhodes',
  'assignment': [77, 82, 23, 39],
  'test': [78, 77],
  'lab': [80, 80]},
 {'name': 'Jessica Stone',
  'assignment': [67, 55, 77, 21],
  'test': [40, 50],
  'lab': [69, 44.56]},
 {'name': 'Tom Hanks',
  'assignment': [29, 89, 60, 56],
  'test': [65, 56],
  'lab': [50, 40.6]}]

for student in students:
    print(calculate_total_average([student]))
    print(student['name'], assign_letter_grade(calculate_total_average([student])))

72.79
Jack Frost C
75.962
James Potter C
75.775
Dylan Rhodes C
48.356
Jessica Stone E
57.26
Tom Hanks E

In [85]:
students = [    {        "name": "Jack Frost",        "assignment": [80, 50, 40, 20],
        "test": [75, 75],
        "lab": [78.2, 77.2]
    },
    {
        "name": "James Potter",
        "assignment": [82, 56, 44, 30],
        "test": [80, 80],
        "lab": [67.9, 78.72]
    },
    {
        "name": "Dylan Rhodes",
        "assignment": [77, 82, 23, 39],
        "test": [78, 77],
        "lab": [80, 80]
    },
    {
        "name": "Jessica Stone",
        "assignment": [67, 55, 77, 21],
        "test": [40, 50],
        "lab": [69, 44.56]
    },
    {
        "name": "Tom Hanks",
        "assignment": [29, 89, 60, 56],
        "test": [65, 56],
        "lab": [50, 40.6]
    }
]

In [93]:
test_dict = {"Gfg" : [5, 7, 5, 4, 5],
             "is" : [6, 7, 4, 3, 3],
             "Best" : [9, 9, 6, 5, 5]}

max_val=0
max_key=None

for sub in test_dict:
    if(len(set(test_dict[sub])))>max_val:
        max_val=len(set(test_dict[sub]))
        max_key=sub
        
print(max_val,max_key)

4 is

In [95]:
def duplicate_characters(string):
    
    dict1={}
    
    for char in string:
        if char not in dict1:
            dict1[char]=1
        else:
            dict1[char]+=1
            
    duplicate=[]
    
    for char,count in dict1.items():
        if count>1:
            duplicate.append(char)
            
    return duplicate

duplicate_characters("geeksforgeeks")

['g', 'e', 'k', 's']

In [96]:
# winner of election

from collections import Counter
 
votes =['john','johnny','jackie','johnny','john','jackie',
    'jamie','jamie','john','johnny','jamie','johnny','john']

max_count=Counter(votes)
print(max_count)
max_votes=max(max_count.values())
print(max_votes)
res=[i for i in max_count.keys() if max_count[i]==max_votes]

print(sorted(res)[0])

Counter({'john': 4, 'johnny': 4, 'jamie': 3, 'jackie': 2})
4
john