# Python | Sort Python Dictionaries by Key or Value

In [1]:
dic={'Name':['Madan','Kuldeep','Vansh','Mukesh','Sohail','Awaiz'],
    'Marks':[20,18,19,13,12,15],
    'Age':[27,25,26,25,26,28],
    'Income':[2300,4500,1200,2300,2100,1400]}

In [13]:
mykeys=list(dic.keys())
mykeys.sort()
mykeys

['Age', 'Income', 'Marks', 'Name']

In [15]:
sorted_dic={i:dic[i] for i in mykeys}
sorted_dic

{'Age': [27, 25, 26, 25, 26, 28],
 'Income': [2300, 4500, 1200, 2300, 2100, 1400],
 'Marks': [20, 18, 19, 13, 12, 15],
 'Name': ['Madan', 'Kuldeep', 'Vansh', 'Mukesh', 'Sohail', 'Awaiz']}

In [16]:
key_value={}

In [18]:
key_value['ravi'] = '10'       
key_value['rajnish'] = '9'
key_value['sanjeev'] = '15'
key_value['yash'] = '2'
key_value['suraj'] = '32'

In [23]:
for i in sorted(key_value.keys()):
    print(i, end=",")

rajnish,ravi,sanjeev,suraj,yash,

# Handling missing keys in Python dictionaries

In [28]:
country_code = {'India' : '0091',
                'Australia' : '0025',
                'Nepal' : '00977'}

print(country_code.get('India','Not Found'))

0091

In [32]:
print(country_code.setdefault('Japan','Not present'))

Not present

In [33]:
print(country_code['India'])
 
# search dictionary for country code of Japan
print(country_code['Japan'])

0091
Not present

In [36]:
for i in country_code.values():
    print(i)

0091
0025
00977
Not present

# Python dictionary with keys having multiple inputs

In [46]:
places = {("19.07'53.2", "72.54'51.0"):"Mumbai", \
          ("28.33'34.1", "77.06'16.6"):"Delhi"}
 
#print(places)
long=[]
lat=[]
plc=[]

for i in places:
    long.append(i[0])
    lat.append(i[1])
    plc.append(places[i[0],i[1]])
print(long,'\n',lat,'\n',plc,'\n')

["19.07'53.2", "28.33'34.1"]
 ["72.54'51.0", "77.06'16.6"]
 ['Mumbai', 'Delhi']

# Python program to find the sum of all items in a dictionary

In [51]:
dic1={'a': 100, 'b':200, 'c':300}
count=0
for i in dic1.values():
    count+=i
print(count)

600

# Find the size of a Dictionary in Python

In [53]:
import sys

print(sys.getsizeof(dic1),'in bytes')

232 in bytes

In [69]:
from operator import itemgetter
 
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

#print(sorted(list, key=itemgetter('age'))

In [70]:
print(sorted(list1,key=itemgetter('age')))

[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

In [74]:
print(sorted(list1,key=lambda x:(x['age'],x['name'])))

[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

In [78]:
dic={'Name':['Madan','Kuldeep','Vansh','Mukesh','Sohail','Awaiz'],
    'Marks':[20,18,19,13,12,15],
    'Age':[27,25,26,25,26,28],
    'Income':[2300,4500,1200,2300,2100,1400]}
dic1={'location':['b1','c1','d1','a1','g1','h1']}

#print(dic|bdic1)
print('\n')
print(dic.update(dic1))

None

In [84]:
def merge(dic1,dic2):
    res={**dic1,**dic2}
    return res

In [85]:
merge(dic,dic1)

{'Name': ['Madan', 'Kuldeep', 'Vansh', 'Mukesh', 'Sohail', 'Awaiz'],
 'Marks': [20, 18, 19, 13, 12, 15],
 'Age': [27, 25, 26, 25, 26, 28],
 'Income': [2300, 4500, 1200, 2300, 2100, 1400],
 'location': ['b1', 'c1', 'd1', 'a1', 'g1', 'h1']}

In [86]:
jack = { "name":"Jack Frost",
        "assignment" : [80, 50, 40, 20],
        "test" : [75, 75],
        "lab" : [78.20, 77.20]
    }
         
# 2. James's dictionary
james = { "name":"James Potter",
        "assignment" : [82, 56, 44, 30],
        "test" : [80, 80],
        "lab" : [67.90, 78.72]
        }
 
# 3. Dylan's dictionary
dylan = { "name" : "Dylan Rhodes",
        "assignment" : [77, 82, 23, 39],
        "test" : [78, 77],
        "lab" : [80, 80]
        }
         
# 4. Jessica's dictionary
jess = { "name" : "Jessica Stone",
        "assignment" : [67, 55, 77, 21],
        "test" : [40, 50],
        "lab" : [69, 44.56]
    }

# 5. Tom's dictionary
tom = { "name" : "Tom Hanks",
        "assignment" : [29, 89, 60, 56],
        "test" : [65, 56],
        "lab" : [50, 40.6]
    }

In [87]:
def get_average(marks):
    tot=sum(marks)
    tot=float(tot)
    return tot/len(marks)

In [88]:
def total_average(students):
    assignment=get_average(students['assignment'])
    test=get_average(students['test'])
    lab=get_average(students['lab'])
    return (0.1*assignment+0.7*test+0.2*lab)

In [89]:
def grade(score):
    if score>=90:return 'Grade A'
    elif score>=80:return 'Grade B'
    elif score >= 70: return "C"
    elif score >= 60: return "D"
    else : return "E"

In [90]:
def class_avg(student_list):
    result=[]
    for student in student_list:
        tot=total_average(student) 
        result.append(tot)
        return get_average(result)

In [91]:
students = [jack, james, dylan, jess, tom]

In [97]:
class_av = class_avg(students)

In [101]:
for i in students:
    print(i['name'])
    print(total_average(i),'%',grade(total_average(i)))

Jack Frost
72.79 % C
James Potter
75.962 % C
Dylan Rhodes
75.775 % C
Jessica Stone
48.356 % E
Tom Hanks
57.26 % E

In [103]:
tom = { "name" : "Tom Hanks",
        "assignment" : [29, 89, 60, 56],
        "test" : [65, 56],
        "lab" : [50, 40.6]
    }
tom1={'sports':[25,52]}
tom.update(tom1)

In [104]:
tom

{'name': 'Tom Hanks',
 'assignment': [29, 89, 60, 56],
 'test': [65, 56],
 'lab': [50, 40.6],
 'sports': [25, 52]}

# Python â€“ Insertion at the beginning in OrderedDict

In [105]:
from collections import OrderedDict

inorderd=OrderedDict(tom)

inorderd.update

In [107]:
inorderd.update({'sex':['male','female','male']})

In [111]:
inorderd.move_to_end('sex',last=False)

In [112]:
inorderd

OrderedDict([('sex', ['male', 'female', 'male']),
             ('name', 'Tom Hanks'),
             ('assignment', [29, 89, 60, 56]),
             ('test', [65, 56]),
             ('lab', [50, 40.6]),
             ('sports', [25, 52])])

In [113]:
ar1 = set([1, 5, 10, 20, 40, 80])
ar2 = set([6, 7, 20, 80, 100])
ar3 = set([3, 4, 15, 20, 30, 70, 80, 120])

In [117]:
print(ar1.intersection(ar2,ar3))

{80, 20}

In [120]:
ar1 = set([1, 5, 5])
ar2 = set([3, 4, 5, 5, 10])
ar3 = set([5, 5, 10, 20])
print(list(ar1.intersection(ar2,ar3)))

[5]

In [125]:
ar1 = [1, 5, 5]
ar2 = [3, 4, 5, 5, 10]
ar3 = [5, 5, 10, 20]

In [124]:
from collections import Counter

print(Counter(ar1))

Counter({5: 2, 1: 1})

In [137]:
ar1=Counter(ar1)
ar2=Counter(ar2)
ar3=Counter(ar3)
    
resultdict=dict(ar1.items()&ar2.items()&ar3.items())
common=[]

for key,val in resultdict.items():
    for i in range(0,val):
        common.append(key)
print(common)

[5]

In [134]:
common

[0, 1]

In [138]:
dicky={'name': 'Tom Hanks',
 'assignment': [29, 89, 60, 56],
 'test': [65, 56],
 'lab': [50, 40.6],
 'sports': [25, 52]}

In [142]:
lst=[]
cnt=0
for key,val in dicky.items():
    for i in dicky['test']:
        cnt+=i
    lst.append(key)
        
print(cnt)
print(lst)

605
['name', 'assignment', 'test', 'lab', 'sports']

In [146]:
dict={}
for i in range(1,21,2):
    dict[i]=i*i
print(dict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

In [ ]:
# Disctionary is same like a dataframe to acces the values or assign the value,
# we use the method dict['key']='values' and dict[i]=i*i

In [158]:
from collections import Counter


def find_dup_char(input):

	# now create dictionary using counter method
	# which will have strings as key and their
	# frequencies as value
	WC = Counter(input)

	# Finding no. of occurrence of a character
	# and get the index of it.
	for letter, count in WC.items():
		if (count > 1):
			print(letter)


# Driver program
if __name__ == "__main__":
	input = 'geeksf'
	find_dup_char(input)

#or key,val in resultdict.items():

e

In [160]:

# Python3 code to demonstrate working of
# Group Similar items to Dictionary Values List
# Using defaultdict + loop
from collections import defaultdict
 
# initializing list
test_list = [4, 6, 6, 4, 2, 2, 4, 4, 8, 5, 8]

res=defaultdict(list)
for ele in test_list:
    
    res[ele].append(ele)

In [161]:
# append kula oru append

defaultdict(list, {4: [4, 4, 4, 4], 6: [6, 6], 2: [2, 2], 8: [8, 8], 5: [5]})

In [163]:
res={i:i*i for i in range(1,10)}
res

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [165]:
lit=[1, 2, 3, 1, 2, 1]
res={ele:lit.count(ele) for ele in lit}
res

{1: 3, 2: 2, 3: 1}

In [167]:
dict={'a': 1, 'b': 2, 'c': 3, 'd': 4}

res={i:j for i,j in dict.items() if j%2==0}

res

{'b': 2, 'd': 4}

In [169]:
test_dict = {"Gfg" : 4, "is" : 4, "Best" : 4, "for" : 4, "Geeks" : 4}

res = sum(val for val in test_dict.values())/len(test_dict)

In [175]:
test_dict = {'Manjeet': [1, 4, 5, 6],
             'Akash': [1, 8, 9],
             'Nikhil': [10, 22, 4],
             'Akshat': [5, 11, 22]}
cnt=Counter()
for i in test_dict.values():
    cnt.update(i)

res={i:[key for key in j if cnt[key]==1] for i,j in test_dict.items()}

In [178]:
test_dict.items()

dict_items([('Manjeet', [1, 4, 5, 6]), ('Akash', [1, 8, 9]), ('Nikhil', [10, 22, 4]), ('Akshat', [5, 11, 22])])

In [181]:
test_str = 'gfg is best for geeks'
 
# printing original string
print("The original string is : " + str(test_str))
 
# initializing Dictionary
test_dict = {'geeks' : 1, 'best': 6}

for key in test_dict:
    if key in test_str.split():
        test_str=test_str.replace(key,'kk')
        
print(test_str)

The original string is : gfg is best for geeks
gfg is kk for kk

In [ ]:
# for multiple replacement we use loop method

# Python | Remove all duplicates words from a given sentence

In [189]:
def remove(input):
    
    input = input.split()
    
    cnt=Counter(input)
    
    
    res=' '.join(cnt.keys())
    
    return res

In [190]:
remove('my name is madan my place is bangalore my jbo is data scientist')

'my name is madan place bangalore jbo data scientist'