In [ ]:
# Python program to interchange first and last elements in a list

In [1]:
list1=[12, 35, 9, 56, 24]
list1[0],list1[4]=list1[4],list1[0]
list1

[24, 35, 9, 56, 12]

In [2]:
def swaplist(list1):
    size=len(list1)
    
    temp=list1[0]
    list1[0]=list1[size-1]
    list1[size-1]=temp
    
    return list1

In [3]:
swaplist(list1)

[12, 35, 9, 56, 24]

In [ ]:
# Python program to swap two elements in a list

In [4]:
def swaplist(list1,pos1,pos2):
    
    list1[pos1],list1[pos2]=list1[pos2],list1[pos1]
    
    return list1

In [5]:
swaplist(list1,3,2)

[12, 35, 56, 9, 24]

In [ ]:
# Python â€“ Swap elements in String list

In [7]:
test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']

result=[sub.replace("G","M") for sub in test_list]

result

['Mfg', 'is', 'best', 'for', 'Meeks']

In [13]:
import re

results=[re.sub("f","MG",sub) for sub in test_list]
results

['GMGg', 'is', 'best', 'MGor', 'Geeks']

In [14]:
test_list = [1, 4, 5, 7, 8]
cnt=0
for i in test_list:
    cnt+=1
print("Length of list",cnt)

Length of list 5

In [15]:
len(test_list)

5

In [20]:
from collections import Counter

length=sum(Counter(test_list).values())
length

5

In [ ]:
# Maximum of two numbers in Python
# Minimum of two numbers in Python

In [22]:
def maximum(a,b):
    if a>b:
        return a
    else:
        return b

In [23]:
maximum(10,85)

85

In [25]:
max(10,5)

10

In [28]:
a=5
b=19
res=print(a if a>b else b)
res

19

In [29]:
def minimum(a,b):
    if a<b:
        return a
    else:
        return b

In [30]:
minimum(10,5)

5

In [ ]:
# Check if element exists in list in Python

In [31]:
s=10

if i in test_list:
    print('Exist')
else:
    print("Doesn't Exist")

Exist

In [33]:
test_list = [10, 15, 20, 7, 46, 2808]

count=test_list.count(2500)

if count>0:
    print("Exists")
else:
    print("Doesn't Exists")

Doesn't Exists

In [38]:
freq=Counter(test_list)

if freq[10]>0:
    print("Exists")
else:
    print("Doesn't Exists")

Exists

In [ ]:
# Different ways to clear a list in Python

In [42]:
test_list1=[10, 15, 20, 7, 46, 2808]

#test_list1.clear()

In [49]:
test_list1[:0]

[]

In [52]:
test_list1[::-2]

[2808, 7, 15]

In [53]:
test_list1.pop()

2808

In [60]:
l=[10,20]
test_list1.extend(l)

In [61]:
test_list1

[10, 15, 20, 7, 46, 10, 20]

In [ ]:
# Reversing a List in Python

In [62]:
list1 = [4, 5, 6, 7, 8, 9]
list1[::-1]

[9, 8, 7, 6, 5, 4]

In [ ]:
# Python | Cloning or Copying a list

In [63]:
cpy=list1[:]
cpy

[4, 5, 6, 7, 8, 9]

In [64]:
cp=[i for i in list1]
cp

[4, 5, 6, 7, 8, 9]

In [65]:
df=cp
df

[4, 5, 6, 7, 8, 9]

In [ ]:
# Python | Count occurrences of an element in a lis

In [67]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
cnt=0
for i in lst:
    cnt=cnt+1
print("No of elements in list",cnt)

No of elements in list 9

In [69]:
cnt=sum(Counter(lst).values())
cnt

9

In [71]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8

def list_count(lst,x):
    cnt=0
    for ele in lst:
        if (ele==x):
            cnt+=1
    return cnt
            
list_count(lst,x)

5

In [74]:
lis = ['a', 'd', 'd', 'c', 'a', 'b', 'b', 'a', 'c', 'd', 'e']
dic={item:lis.count(item) for item in lis}
dic.get("d")

3

In [75]:
import pandas as pd

# declaring the list
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]

count = pd.Series(l).value_counts()
print("Element Count")
print(count)

Element Count
2    3
1    2
3    2
4    2
5    2
dtype: int64

In [78]:
# Find sum and average of List in Python

lt=[15, 9, 55, 41, 35, 20, 62, 49]
sum1=0
for ele in lt:
    sum1+=ele
    avg=sum1/len(lt)
    
print(sum1)
print(avg)

286
35.75

In [79]:
import statistics

sum1=sum(lt)

avg=statistics.mean(lt)

print(sum1)
print(avg)

286
35.75

In [ ]:
# Python | Sum of number digits in List

In [82]:
test_list = [12, 67, 98, 34]

res=[]
for ele in test_list:
    sum=0
    for digit in str(ele):
        sum+=int(digit)
        res.append(sum)
print(str(res))

[1, 3, 6, 13, 9, 17, 3, 7]

In [ ]:
# Find the smallest number

In [83]:
list2 = [20, 10, 20, 1, 100]
min1=list2[0]
for ele in range(len(list2)):
    if list2[ele]<min1:
        min1=list2[ele]
print(min1)

1

In [84]:
min(list2)

1

In [88]:
list2 = [20, 10, 20, 1, 100]
max1=list2[0]
for ele in range(len(list2)):
    if list2[ele]>max1:
        max1=list2[ele]
print(max1)

100

In [89]:
res=min((a,i) for (i,a) in enumerate(list2))
res

(1, 3)

In [92]:
for (i,a) in enumerate(list2):
    print(i,a)

0 20
1 10
2 20
3 1
4 100

In [93]:
def lgr(arr):
    secondlargest=0
    largest=min(arr)
    
    for i in range(len(arr)):
        if  arr[i]>largest:
            
            secondlargest=largest
            largest=arr[i]
        
        else:
            secondlargest=max(secondlargest,arr[i])
            
    return secondlargest

In [94]:
lgr(list2)

20

In [ ]:
# Python program to print all even numbers in a range

In [101]:
even=[x for x in range(1,21) if x%2==0]

'[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]'

In [ ]:
# Python program to print all odd numbers in a range

In [102]:
odd=[x for x in range(1,21) if x%3==0]

In [108]:
even=0
odd=0
for i in range(1,73):
    if i%2==0:
        even+=1
    else:
        odd+=1
print("Count of Even Numbers",even)
print("Count of odd Numbers",odd)

Count of Even Numbers 36
Count of odd Numbers 36

In [ ]:
# Positive numbers

In [111]:
list1 = [12, -7, 5, 64, -14]
res=[x for x in list1 if x>0]
res

[12, 5, 64]

In [ ]:
# Negative numbers

In [113]:
list1 = [12, -7, 5, 64, -14]
res=[x for x in list1 if x<0]
res

[-7, -14]

In [ ]:
# Python program to print all positive numbers in a range

In [114]:
res=[x for x in range(-10,15) if x>0]
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [115]:
res=[x for x in range(-10,15) if x<0]
res

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
# Python program to count positive and negative numbers in a list

In [116]:
pos,neg=0,0
for i in range(-15,25):
    if i>0:
        pos+=1
    else:
        neg+=1
print("Count of Pos num",pos)
print("Count of Neg num",neg)

Count of Pos num 24
Count of Neg num 16

In [ ]:
# Python program to remove multiple
# elements from a list

In [120]:
# creating a list
list1 = [11, 5, 17, 18, 23, 50]

lt=[17,23]

res=[ele for ele in list1 if ele not in lt]
res

[11, 5, 18, 50]

In [122]:
list1.sort(reverse=True)
list1

[50, 23, 18, 17, 11, 5]

In [ ]:
# How to count unique values inside a list

In [124]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
cnt=0
tr=[]
for ele in input_list:
    if ele not in tr:
        cnt+=1
        tr.append(ele)
        
print("Count of unique elements",cnt)
print(tr)

Count of unique elements 5
[1, 2, 5, 8, 4]

In [127]:
res=Counter(input_list).keys()
res=list(res)
res

[1, 2, 5, 8, 4]

In [ ]:
# Python â€“ List product excluding duplicates

In [128]:
def prod(lt):
    res=1
    for ele in lt:
        res*=ele
    return res

In [129]:
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
res=[]
ap=[res.append(x) for x in test_list if x not in res]
res1=prod(res)
res1

90

In [ ]:
# Python â€“ Extract elements with Frequency greater than K

In [131]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3 
res=[]
for i in test_list:
    if test_list.count(i)>K:
        if i not in res:
            res.append(i)        
print("FREqs > k",res)

FREqs > k [4, 3]

In [132]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 6, 6]
k = 2
unique_elems = []
freq_dict = {}
output = []

# printing string
print("The original list : " + str(test_list))

for i in test_list:
	# Append in the unique element list
	if i not in unique_elems:
		unique_elems.append(i)
		freq_dict[i] = 1
	else:
		# increment the counter if element is duplicate
		freq_dict[i] += 1

	# Add in the output list only once
	if freq_dict[i] == k + 1:
		output.append(i)

print('The required elements : ', str(output))

The original list : [4, 6, 4, 3, 3, 4, 3, 4, 6, 6]
The required elements :  [4, 3, 6]

In [ ]:
# Python â€“ Test if List contains elements in Range

In [134]:
# Python3 code to demonstrate
# Test if List contains elements in Range
# using all()

# Initializing loop
test_list = [4, 5, 6, 7, 3, 9,11]

# printing original list
print("The original list is : " + str(test_list))

# Initialization of range
i, j = 3, 10

# Test if List contains elements in Range
# using all()
res = all(ele >= i and ele < j for ele in test_list)

# printing result
print ("Does list contain all elements in range : " + str(res))

The original list is : [4, 5, 6, 7, 3, 9, 11]
Does list contain all elements in range : False

In [ ]:
# Python program to check if the list contains three consecutive common numbers in Python

In [140]:
test_ip=[1, 1, 1, 64, 23, 64, 22, 22, 22]
res=[]
cnt=0
k=3
for i in test_ip:
    if test_ip.count(i)==k:
        res.append(i)
        
print("contains three consecutive common numbers:",list(set(res)))

contains three consecutive common numbers: [1, 22]

In [ ]:
# Python Program to print all Possible Combinations from the three Digits

In [144]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                
                if(i!=j and j!=k and k!=i):
                    print(L[i],L[j],L[k])

In [145]:
comb([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Python program to find all the Combinations in the list with the given condition

In [146]:
from itertools import combinations
# initializing list
test_list = ["GFG", [5, 4], "is",
            ["best", "good", "better", "average"]]
idx=0
temp=combinations(test_list,2)
for i in list(temp):
    idx=idx+1
    print("Combinations",idx,":",i)

Combinations 1 : ('GFG', [5, 4])
Combinations 2 : ('GFG', 'is')
Combinations 3 : ('GFG', ['best', 'good', 'better', 'average'])
Combinations 4 : ([5, 4], 'is')
Combinations 5 : ([5, 4], ['best', 'good', 'better', 'average'])
Combinations 6 : ('is', ['best', 'good', 'better', 'average'])

In [ ]:
# Divide all Elements of a List by a Number in Python

In [148]:
res=[]
test_list = [4, 5, 6, 7, 3, 9,11]
res1=[res.append(x//2) for x in test_list ]
res

[2, 2, 3, 3, 1, 4, 5]

In [ ]:
# Python â€“ Find index of maximum item in list

In [158]:
test_list = [4, 5, 6,85,7, 3, 9,11]
index=0
max_ele=test_list[0]
for i,j in enumerate(test_list):
    if test_list[i]>max_ele:
        max_ele=test_list[i]
        index=i
        
print("Index of the maximum element in the list is:",index)

Index of the maximum element in the list is: 3

In [ ]:
# Remove elements larger than a specific value from a list in Python

In [160]:
num_list = [30, 200, 65, 88, 98, 500, 34]
num_list=[x for x in num_list if x>120]
num_list

[200, 500]

In [161]:

num_list = [30, 200, 65, 88, 98, 500, 34]
 
# traverse the numbers list
for num in num_list:
   
    # check if current number in the
    # list is greater than 100
    if num > 100:
       
        # if true remove number from list
        num_list.remove(num)
        
print(num_list)

[30, 65, 88, 98, 34]

In [163]:
lt=["geeks", "for", "geeks"]
lt.pop()
lt

['geeks', 'for']

In [164]:
lt=["geeks", "for", "geeks"]
lt[:-1]

['geeks', 'for']

In [ ]:
# Python Program to get Maximum product of elements of list in a 2D list

In [174]:
lt=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

maxi=0
for i in lt:
    p=1
    for x in i:
        p*=x
        maxi=max(p,maxi)
print(maxi)

504

In [ ]:
# Python Program to Square Each Odd Number in a List using List Comprehension

In [175]:
res=[x*x for x in num_list if x%3==0]
res

[900]

In [178]:
test_list1 = [[4, 3, 5, ], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3], [9, 3, 5, 7], [8]]
new=[]
for i,j in enumerate(test_list1):
    for ele in test_list2[i]:
        new.append(ele)
    test_list1[i].extend(new)

In [179]:
test_list1

[[4, 3, 5, 1, 3], [1, 2, 3, 1, 3, 9, 3, 5, 7], [3, 7, 4, 1, 3, 9, 3, 5, 7, 8]]

In [ ]:
# Python program to convert a byte string to a list of integers

In [180]:
# Python program to illustrate the
# conversion of a byte string
# to a list of integers

# Initializing a byte string
S = "GFG is a CS Portal"

nums = []

# Calling the for loop to iterate each
# characters of the given byte string
for chr in S:

	# Calling the ord() function
	# to convert the specified byte
	# characters to numbers of the unicode
	nums.append(ord(chr))

# Printing the unicode of the byte string
print(nums)

[71, 70, 71, 32, 105, 115, 32, 97, 32, 67, 83, 32, 80, 111, 114, 116, 97, 108]

In [189]:
list1 = [1, 2, 3, 4, 5]  
list2 = [4, 5, 6, 7, 8]
a, b = [i for i in list1 if i not in list2], [j for j in list2 if j not in list1]
b

[6, 7, 8]

In [190]:
res=list(set(list1).difference(list2))
res

[1, 2, 3]

In [ ]:
# Python â€“ Get the indices of all occurrences of an element in a list

In [191]:
# initialize a list
my_list = [1, 2, 3, 1, 5, 4]
# declare for loop
for itr in range(len(my_list)):

	# check the condition
	if(my_list[itr] == 1):

		# print the indices
		print(itr)

0
3

In [ ]:
# Python â€“ Find Index containing String in List

In [199]:
Input1=['sravan', 98, 'harsha', 'jyothika', 'deepika', 78, 90, 'ramya']
for index,ele in enumerate(Input1):
    if Input1[index] is str(ele):
        print(index,ele)

0 sravan
2 harsha
3 jyothika
4 deepika
7 ramya

In [202]:
# create a list of names and marks
list1 = ['sravan', 98, 'harsha', 'jyothika',
		'deepika', 78, 90, 'ramya']

# iterate through list of elements
for i in list1:
	if(type(i) is str):

         print(list1.index(i),i)

0 sravan
2 harsha
3 jyothika
4 deepika
7 ramya

# Python Program to Find Largest Number in a List

In [4]:
num_list = [30, 200, 65, 88, 98, 500, 34]
min_num=num_list[0]
for i in range(len(num_list)):
    if num_list[i]>min_num:
        min_num=num_list[i]
print("Max number",min_num)

Max number 500

In [8]:
for i in range(len(num_list)):
    num_list.sort()
print("Max number",num_list[i])

Max number 500

In [11]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:45
Enter element:57
Enter element:86
Enter element:97
Enter element:78
Largest element is: 97

In [ ]:
# Python Program to Find Second Largest Number in a List

In [12]:
a=[]
n=int(input("Enter the number of elemnts"))
for i in range(1,n+1):
    b=int(input())
    a.append(b)
a.sort()
print("Second largest,",a[n-2])

Enter the number of elemnts5
47
89
87
85
96
Second largest, 89

In [ ]:
# Python Program to Print Largest Even and Largest Odd Number in a List

In [15]:
a=[]
n=int(input("Enter the number of elemnts"))
even=[]
odd=[]

for i in range(1,n+1):
    b=int(input())
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
    
even.sort()
odd.sort()
count1=0
count2=0
for j in even:
    count1+=1
for k in odd:
    count2+=1
print("Even Largest",even[count1-1])
print("Odd Largest",odd[count2-1])

Enter the number of elemnts10
5
8
45
76
54
52
51
36
32
31
Even Largest 10
Odd Largest 9

In [ ]:
# Python Program to Print Sum of Negative Numbers, Positive Even Numbers and Positive Odd numbers in a List

In [20]:
a=[]
n=int(input("Enter the number of elemnts"))
even=[]
odd=[]
sum_even=0
sum_odd=0
sum_neg=0
for i in range(1,n+1):
    b=int(input())
    a.append(b)
for j in a:
        
    if j<0:
        sum_neg+=j
    elif j%2==0 and j > 0:
        sum_even+=j
    elif j%2!=0 and j>0:
        sum_odd+=j
print("Sum of Negative numbers",sum_neg)
print("List of pos even numbers",sum_even)
print("Lsit of pos odd numbers",sum_odd)

Enter the number of elemnts10
-5
-5
-8
87
56
54
58
-98
63
12
Sum of Negative numbers -116
List of pos even numbers 180
Lsit of pos odd numbers 150

In [ ]:
# Python Program to Return the Length of the Longest Word from the List of Words

In [27]:
a=[]
n=int(input())

for i in range(1,n+1):
    b=input()
    a.append(b)
max1=len(a[0])
temp=a[0]
for i in a:
    if (len(i)>max1):
        max1=len(i)
        temp=i
print("The word with the longest length is:")
print(temp)

5
ekjvlje
kjebkjnjv
qwbrjjwhrkhrk
qwjefijrhfbkhjrnb
ckqjwbcjhwb
The word with the longest length is:
qwjefijrhfbkhjrnb

In [ ]:
# Python Program to Generate Random Numbers from 1 to 20 and Append Them to the List

In [28]:
import random

In [30]:
a=[]
n=int(input())
for i in range(n):
    a.append(random.randint(1,20))
print("Randomised no",a)

10
Randomised no [3, 16, 12, 7, 9, 3, 18, 3, 10, 10]

In [ ]:
# Python Program to Remove the ith Occurrence of the Given Word in a List

In [32]:
a=[]
n=int(input())
for i in range(0,n):
    b=input()
    a.append(b)
print(a)
c=[]
count=0
b=input()
n=int(input())
for i in a:
    if(i==b):
        count+=1
        if(count!=n):
            c.append(i)
    else:
        c.append(i)
        
if(count==0):
    print("Item not found ")
else: 
    print("The number of repetitions is: ",count)
    print("Updated list is: ",c)
    print("The distinct elements are: ",set(a))

5
madan
krish
madiana
sexy
macy
['madan', 'krish', 'madiana', 'sexy', 'macy']
madan
1
The number of repetitions is:  1
Updated list is:  ['krish', 'madiana', 'sexy', 'macy']
The distinct elements are:  {'madiana', 'krish', 'macy', 'madan', 'sexy'}

In [ ]:
# Python Program to Find the Union of Two Lists

In [35]:
l1=[]
n=int(input())
for i in range(1,n+1):
    b=int(input())
    l1.append(b)
    
l2=[]
n=int(input())
for i in range(1,n+1):
    c=int(input())
    l2.append(c)

union=list(set().union(l1,l2))

print(union)

intersection=list(set(l1)&set(l2))

5
12
12
14
121
15
5
12
14
121
12
15
[121, 12, 14, 15]

In [36]:
intersection

[121, 12, 14, 15]

In [ ]:
# Python Program to Sort Matrix by Sliced Row and Column Summation

In [37]:
def sort_matrix(row):
    return sum(row[i:j])

test_list = [[1, 4, 3, 1, 3], [3, 4, 5, 2, 4],
             [23, 5, 5, 3], [2, 3, 5, 1, 6]]

i,j=1,3

test_list.sort(key=sort_matrix)
print(test_list)

[[1, 4, 3, 1, 3], [2, 3, 5, 1, 6], [3, 4, 5, 2, 4], [23, 5, 5, 3]]

In [38]:
test_list[1:3]

[[2, 3, 5, 1, 6], [3, 4, 5, 2, 4]]

In [41]:
def num_sort(lt):
    
    computed_num=[ele for ele in lt.split() if ele.isdigit()]
    
    if len(computed_num)>0:
        return int(computed_num[0])
    return -1


test_list = ["gfg is", "all no 7", "geeks over seas", "and planets 5"]
test_list.sort(key=num_sort)
print(test_list)

['gfg is', 'geeks over seas', 'and planets 5', 'all no 7']

In [40]:
d="all no 7"
d.split()

['all', 'no', '7']

In [43]:
from collections import Counter
 
# initializing list
test_list = ["Gfg is best for geeks",
             "All love Gfg",
             "Gfg is best for CS",
             "For CS geeks Gfg is best"]

joined=' '.join(ele for ele in test_list)

counter=Counter(joined.split())

total_val=sum(counter.values())

res={key:(val/total_val)*100 for key,val in counter.items()}
res

{'Gfg': 21.052631578947366,
 'is': 15.789473684210526,
 'best': 15.789473684210526,
 'for': 10.526315789473683,
 'geeks': 10.526315789473683,
 'All': 5.263157894736842,
 'love': 5.263157894736842,
 'CS': 10.526315789473683,
 'For': 5.263157894736842}

In [ ]:
# Python Program to extract Dictionaries with given Key from a list of dictionaries

In [45]:
test_list = [{'gfg': 2, 'is': 8, 'good': 3},
             {'gfg': 1, 'for': 10, 'geeks': 9},
             {'love': 3}]

key='good'

res=[ele for ele in test_list if key in list(ele.keys())]

res

[{'gfg': 2, 'is': 8, 'good': 3}]

In [ ]:
# Python â€“ Remove numbers with repeating digits

In [47]:
test_list = [4252, 6578, 3421, 6545, 6676]

res=[ele for ele in test_list if len(set(str(ele)))==len(str(ele))]
res

[6578, 3421]

In [49]:
test_list = [6, 3, 1, 8, 9, 2, 10, 12, 7, 4, 11]

srt,end=3,9
temp=test_list[3:9]
temp.reverse()

for idx in range(srt,end):
    test_list[idx]=test_list[idx-srt]
    
print(test_list)

[6, 3, 1, 6, 3, 1, 6, 3, 1, 4, 11]

In [53]:
def common_words(sent1,sent2):
    sen1=set(sent1)
    sen2=set(sent2)
    
    common=list(sen1.intersection(sen2))
    return common

def removecommonwords(sent1,sent2):
    sentence1=list(sent1.split())
    sentence2=list(sent2.split())
    
    common_list=common_words(sentence1,sentence2)
    
    word=0
    
    for i in range(len(sentence1)):
        
        if sentence1[word] in common_list:
            
            sentence1.pop(word)
            
            word=word-1
        word+=1
        
    word=0
    
    for i in range(len(sentence2)):
        
        if sentence2[word] in common_list:
            
            sentence2.pop(word)
            
            word=word-1
        word+=1
        
    print(sentence1)
    print(sentence2)
    
S1 = "sky is blue in color"
S2 = "Raj likes sky blue color"
print(removecommonwords(S1,S2))

['is', 'in']
['Raj', 'likes']
None

In [55]:
common_words(S1,S2)

['e', ' ', 'b', 'u', 'k', 'l', 'c', 's', 'i', 'r', 'o', 'y']

In [56]:
def removecommonwords(sent1,sent2):
    sentence1=list(sent1.split())
    sentence2=list(sent2.split())
    for i in sentence1:
        if i in sentence2:
            sentence1.remove(i)
            sentence2.remove(i)
    print(sentence1)
    print(sentence2)

In [57]:
sentence1 = "sky is blue in color"
sentence2 = "raj likes sky blue color"
removecommonwords(sentence1,sentence2)

['is', 'in']
['raj', 'likes']

In [ ]:
# Python Program to Extract Elements from list in set

In [58]:
test_list = [5, 6, 2, 3, 2, 6, 5, 8, 9]
              
# printing original list
print("The original list is : " + str(test_list))
 
# initializing search set
search_set = {6, 2, 8}
res=[]
for i in test_list:
    if i in search_set:
        res.append(i)
        
print(res)

The original list is : [5, 6, 2, 3, 2, 6, 5, 8, 9]
[6, 2, 2, 6, 8]

In [ ]:
# fibonacci series

In [59]:
a=int(input("Enter the first number of the series "))
b=int(input("Enter the second number of the series "))
n=int(input("Enter the number of terms needed "))
print(a,b,end=" ")
while(n-2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")
    n=n-1

Enter the first number of the series 5
Enter the second number of the series 6
Enter the number of terms needed 5
5 6 11 17 28

In [61]:
n=int(input())
fact=1
while (n>0):
    fact=fact*n
    n=n-1
print(fact)

5
120

In [62]:
def factorial(n):
    if(n <= 1):
        return 1
    else:
        return(n*factorial(n-1))
n = int(input("Enter number:"))
print("Factorial:")
print(factorial(n))

Enter number:5
Factorial:
120

In [ ]:
# Prime numbers

In [72]:
r=int(input())
for a in range(2,r+1):
    count=0
    for i in range(2,a//2+1):
        if (a%i==0):
            count+=1
    if (count<=1):
        print("PN",a,end=' ')

100
PN 2 PN 3 PN 4 PN 5 PN 7 PN 9 PN 11 PN 13 PN 17 PN 19 PN 23 PN 25 PN 29 PN 31 PN 37 PN 41 PN 43 PN 47 PN 49 PN 53 PN 59 PN 61 PN 67 PN 71 PN 73 PN 79 PN 83 PN 89 PN 97

In [ ]:
#Python Program to Check Prime Numbe

In [78]:
a=int(input())
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k+=1
if k<=1:
    print("Prime number")
else:
    print("Not a Prime Number")

6
Not a Prime Number

In [ ]:
# Perfect number

In [82]:
n=int(input())
sum1=0
for i in range(2,n+1):
    if(n%i)==0:
        sum1=sum1+i
if (sum1==n):
    print("Perfect number")
else:
    print("imperfect number")

5
Perfect number

In [ ]:
# Armstrong number

In [88]:
n=int(input())
a=list(map(int,str(n)))
b=list(map(lambda x:x**3,a))

if (sum(b)==n):
    print("armstrong number")
else:
    print("not armstrong number")

33
not armstrong number